* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    z-index: 5;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hero-image.avif);
    background-position: center;
}

#hero-btn {
    width: 110px;
    height: 40px;
}

#carousel {
    background-color: #fff4d5;
}

#cards .card {
    height: 450px;
}

#cards {
    background-color: #fffce0;
}

.card {
    overflow: hidden;
}

footer {
    background-color: black;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
